.product-scroll-x {
    overflow-x: auto;
    padding-bottom: 2px;
    background: #fff;
    border-radius: 8px;
    min-width: 100%;
}
.product-scroll-y {
    max-height: 400px;
    overflow-y: auto;
    min-width: 700px;
}
.product-scroll-x::-webkit-scrollbar,
.product-scroll-y::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
.product-scroll-x::-webkit-scrollbar-thumb,
.product-scroll-y::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
.product-scroll-x::-webkit-scrollbar-track,
.product-scroll-y::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 4px;
}
.product-scroll-x, .product-scroll-y {
    scrollbar-width: thin;
    scrollbar-color: #ccc #f5f5f5;
}